.workpage {
    .project {
        .container {
            .more-book {
                display: flex;
                justify-content: flex-end;
                position: relative;
                .all__works {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .booknow {
                    // flex-shrink: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 20px;
                    >p {
                        text-align: right;
                    }
                }
                @include xs {
                    flex-direction: column-reverse;
                    position: initial;
                    justify-content: initial;
                    padding-top: 40px;
                    gap: 55px;
                    .all__works {
                        position: initial;
                        left: initial;
                        transform: initial;
                        padding-top: initial;
                    }
                    .booknow {
                        margin: 0 auto;
                        text-align: center;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        max-width: max-content;
                        max-height: max-content;
                        padding-top: initial;
                        padding-bottom: initial;
                        >p {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}